{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="max-w-lg mx-auto mt-8 p-6 bg-white rounded-md shadow-md text-center">
        <h1 class="text-2xl font-bold mb-4">{% trans "Sign Out" %}</h1>
        <p class="mb-4">{% trans 'Are you sure you want to sign out?' %}</p>
        {% url 'account_logout' as action_url %}
        <form class="flex justify-center" method="post" action="{{ action_url }}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                {% trans 'Sign Out' %}
            </button>
        </form>
    </div>
{% endblock content %}
